<div style="min-width: 70px; height: 1rem;">
        
    <div>
        <div class="small @loadoutIconClass @factionClass" title="@loadoutName" style="position: relative; float: left; top: -4px; display: inline-block; height: 12px; width: 12px; vertical-align: text-top;"></div>
        <div style="display: inline-block; vertical-align: text-top; float: left; padding-left: 0.2rem;">KDR</div>
        <sup style="top: 0px; padding-left: 0.5rem; float: left;">K</sup>
        <sub style="padding-left: 1.5rem; float: left;">D</sub>
    </div>
</div>

@code {
    [Parameter]
    public string loadoutIconClass { get; set; }
    
    [Parameter]
    public string factionClass { get; set; }
    
    [Parameter]
    public string loadoutName { get; set; }
}
