@using squittal.LivePlanetmans.Shared.Models

<div style="display: grid; grid-template-columns: 1fr 1.25rem; grid-template-rows: 1rem 1rem; grid-template-areas: 'kdr kills' 'kdr deaths'; color: inherit;">
    @if (deathEventAggregate != null)
    {
        <div style="grid-area: kdr; text-align: right; font-size: 1.1rem; padding: 0.35rem 0.75rem 0.25rem 0;">
            @deathEventAggregate.KillDeathRatio
        </div>
        <div style="grid-area: kills; text-align: left; font-size: 0.75rem;">
            @deathEventAggregate.Kills
        </div>
        <div style="grid-area: deaths; text-align: right; font-size: 0.75rem;">
            @deathEventAggregate.Deaths
        </div>
    }
</div>

@code {
    [Parameter]
    public DeathEventAggregate deathEventAggregate { get; set; }
}
