@using squittal.LivePlanetmans.Shared.Models

<div class="stat-ratio-grid @_gridClass">
    @if (deathEventAggregate != null)
    {
        <div class="ratio">
            @deathEventAggregate.KillDeathRatio
        </div>
        <div class="fraction-piece numerator">
            <sup>@deathEventAggregate.Kills</sup>
        </div>
        <div class="fraction-piece denominator">
             <sub>@deathEventAggregate.Deaths</sub>
        </div>
    }
</div>

@code {
    [Parameter]
    public DeathEventAggregate deathEventAggregate { get; set; }

    private string _gridClass;

    private string _gridClassDefault = "default";
    private string _gridClassDimmed = "dimmed";

    protected override void OnInitialized()
    {
        _gridClass = _gridClassDefault;
    }

    protected override void OnParametersSet()
    {
        if (deathEventAggregate != null && deathEventAggregate.Kills == 0 && deathEventAggregate.Deaths == 0)
        {
            _gridClass = _gridClassDimmed;
        }
        else
        {
            _gridClass = _gridClassDefault;
        }
    }
}
