@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --sq-light-blue-gray: #d4d4ff;
    --sq-light-blue-gray-alpha: #d4d4ff50;
    --sq-bg-white-lit: #fcf6ff;
    --sq-bg-white-unlit: #f6f0ff;
    --sq-black: #27273A;
    --sq-ps2-vs-primary: #652fdc;
    --sq-ps2-nc-primary: #1e62fc;
    --sq-ps2-tr-primary: #e04c70;
    --sq-ps2-ns-primary: #27273A;
    --sq-ps2-vs-primary-light: #CABCFF;
    --sq-ps2-nc-primary-light: #B6DDFD;
    --sq-ps2-tr-primary-light: #FFD2D3;
    --sq-ps2-ns-primary-light: #a4a4c2;
    --sq-ps2-vs-primary-light-alpha: #CABCFF30;
    --sq-ps2-nc-primary-light-alpha: #B6DDFD30;
    --sq-ps2-tr-primary-light-alpha: #FFD2D330;
    --sq-ps2-ns-primary-light-alpha: #a4a4c230;
    --sq-ps2-vs-primary-light-alpha-40: #CABCFF40;
    --sq-ps2-nc-primary-light-alpha-40: #B6DDFD40;
    --sq-ps2-tr-primary-light-alpha-40: #FFD2D340;
    --sq-ps2-ns-primary-light-alpha-40: #a4a4c240;
    --sq-pale-purple: #b7a8d7;
    --bs-blue: #007bff;
    --bs-blue-alpha: #007bff10;
    --bs-gray: #6c757d;
    --bs-gray-alpha: #6c757d15;
    --bs-pink-alpha: #e83e8c25;
}

html, body {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f6f0ff;
    color: #27273A;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    /*flex-direction: row;*/
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        vertical-align: bottom;
        height: 2.25rem;
        margin-bottom: 0.3125rem;
        margin: 0.3125rem !important;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    /*padding-bottom: 0.5rem;*/
}

    /*.nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }*/

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.navbar-nav .nav-link {
    height: 2.25rem;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }

    .nav-item {
        padding-bottom: 0.5rem;
    }

    .navbar-nav .nav-link {
        padding-left: 1rem;
    }

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

}

@media (min-width: 768px) {
    /*app {
        flex-direction: row;
    }*/

    /*.sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }*/

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.navbar-toggler {
    margin: 0.3125rem;
}

dt {
    font-weight: 500;
    font-size: 0.8rem;
}

@media (min-width: 992px) {
    
    .col-lg-6 {
        flex-basis: calc(50% - 5px);
    }

}

.leaderboard-card {
    border: 2px solid var(--sq-light-blue-gray-alpha) !important;
    border-radius: 0.2rem;
    padding: 0px;
    margin: 0px;
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: var(--sq-bg-white-lit);
}

    .leaderboard-card .header-container {
        font-family: 'Roboto Mono';
        font-size: 2rem;
        color: var(--pink); /*#e34f8c;*/
        margin-bottom: 0px;
        padding: 5px 10px;
        border-top: 2px solid var(--pink);
        border-radius: 0.2rem;
        display: grid;
        grid-template-columns: 1fr 100px 150px;
        align-content: center;
    }

.styled-select {
    width: 120px;
    /*overflow: hidden;*/
    border: 1px solid #007bff; /*#6c757d50;*/ /*#d4d4ffa0;*/
    height: 34px;
    background: url('https://api.iconify.design/oi:caret-bottom.svg?color=%23007bff') no-repeat right 0.5rem center / 10%;
    /*background-color: #f6f0ff;*/
    color: #007bff; /*#6c757d;*/ /* #27273A; */
    border-radius: 0.2rem;
    margin-left: auto;
    margin-top: 0.15rem;
    font-family: 'Roboto Mono';
}

    .styled-select option {
        font-family: 'Roboto Mono';
        font-size: small;
    }

    .styled-select option.pre-text {
        color: var(--bs-gray);
        font-weight: 400;
        font-style: italic;
    }

    .styled-select:hover, .styled-select:active {
        border-color: #007bff; /*#27273A50;*/
        color: #FFF; /*#27273A;*/
        background: url('https://api.iconify.design/oi:caret-bottom.svg?color=%23FFF') no-repeat right 0.5rem center / 10%;
        background-color: #007bff; /*#fcf6ff;*/
    }

    .styled-select select {
        outline: 0;
        background: transparent;
        line-height: 1;
        border: 0;
        border-radius: 0.2rem;
        -webkit-appearance: none;
        height: 33px;
        width: 119px;
        display: block;
        padding: 0px;
        outline: 0;
        color: #007bff; /*#6c757d;*/
        font-family: 'Roboto Mono';
    }

        .styled-select select:hover, .styled-select select:active {
            color: #FFF; /*#27273A;*/
            outline: 0;
        }

        .styled-select select:focus {
            outline: 0 !important;
            box-shadow: 0 0 0 .2rem #007bff80;
        }


.styled-select.placeholder {
    color: transparent;
    background: url('https://api.iconify.design/oi:caret-bottom.svg?color=%23007ba0') no-repeat right 0.5rem center / 10%;
    background-color: #007bff10;
    border-color: #007bff05;
}

    .styled-select.placeholder select {
        color: transparent;
    }




/*
    Leaderboard Styles
*/

.leaderboard-table {
    width: 100%;
    margin-top: -1rem;
    font-family: 'Roboto Mono';
}

    .leaderboard-table thead {
        line-height: 1.1rem;
        font-size: 0.75rem;
    }

    .leaderboard-table th {
        padding-left: 5px;
        width: 55px;
        /*max-width: 65px;*/
        /*width: 1rem;*/
        vertical-align: bottom;
    }
        
        .leaderboard-table th.med {
            /*width: 80px;*/
            /*min-width: 60px;*/
            width: 75px;
        }

        .leaderboard-table th.p-name {
            /*vertical-align: bottom;*/
            width: auto;
        }

        .leaderboard-table th.icon {
            padding: 0.1rem 0.5rem;
            max-width: 30px;
            /*border: inherit;*/
        }

        .leaderboard-table th.alias {
            /*padding-right: 5px;*/
            width: 40px;
        }

        .leaderboard-table th.gap-left {
            padding-left: 10px;
            /*margin-left: 0.3125rem;*/
            max-width: 70px;
            width: 1.1rem;
            /*word-wrap: normal;*/
            vertical-align: bottom;
        }

        .leaderboard-table th.stacked-label span:nth-child(1) {
            display: block;
            position: relative;
            top: 0.5rem;
        }

        .leaderboard-table th.stacked-label span.small {
            font-size: 0.6rem;
        }

        .leaderboard-table th.stacked-label span:nth-child(2) {
        }

    .leaderboard-table tbody {
        font-family: 'Roboto Mono';
        font-size: small !important;
    }

        .leaderboard-table tbody tr:nth-of-type(2n+1) {
            /*border-bottom: 1px solid #d4d4ff70;*/
            background-color: var(--sq-light-blue-gray-alpha);
        }

    .leaderboard-table td {
        padding: 0.2rem 10px 0.2rem 5px;
    }

        .leaderboard-table td.med {
            padding-left: 10px;
        }

        .leaderboard-table td.alias {
            padding-right: 5px;
            padding-left: 0;
        }

        /*.leaderboard-table td button.inline-player-br {
            font-size: 0.8rem;
            padding: 0rem !important;
        }*/

        .leaderboard-table td.emoji-container {
            padding: 0.1rem 0.5rem 0.1rem 0.3125rem;
            max-width: 30px;
            width: 1rem;
            /*border: inherit;*/
        }

            .leaderboard-table td.emoji-container .emoji {
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
                padding-right: 10px;
                opacity: 0.65;
            }

        .leaderboard-table td.icon-container {
            padding: 0.1rem 0.5rem;
            max-width: 30px;
            width: 1rem;
            /*border: inherit;*/
        }

        .leaderboard-table .oi-moon {
            color: var(--sq-pale-purple) !important;
        }

    td .inline-player-br {
        font-size: small;
        line-height: 1.1;
        padding: 0 0 0.1rem 0;
        max-width: 225px;
        width: max-content;
    }

.inline-player-br > div {
    display: inline-block;
}

    .inline-player-br .player-name{
        /*display: inline-block;*/
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
        padding-bottom: 0.1rem;
    }

td .inline-player-br .oi {
    top: -1px;
    margin-left: -0.1rem;
}

.loading-table-text {
    margin-left: 1rem;
    font-weight: 400;
    color: var(--bs-gray);
    font-style: italic;
}

th.stacked-label span:nth-child(1) {
    display: block;
    position: relative;
    top: 0.5rem;
}

th.stacked-label span.small {
    font-size: 0.6rem;
}

th.sortable > .btn.btn-link {
    font-size: 0.8rem;
    padding: 0rem !important;
    line-height: 0.5rem;
    text-align: left;
    text-decoration: none;
    color: var(--sq-black);
}

    th.sortable > .btn.btn-link:hover, th.sortable > .btn.btn-link:focus {
        color: var(--bs-blue);
    }


th.sortable.sorted-ascending::after {
    content: url('https://api.iconify.design/oi-chevron-top.svg?color=%2327273A&height=8');
    vertical-align: -0.125em;
}

/*th.sortable.sorted-ascending:hover::after {
    content: url('https://api.iconify.design/oi-chevron-top.svg?color=%23007bff&height=8');
    vertical-align: -0.125em;
}*/

th.sortable.sorted-descending::after {
    content: url('https://api.iconify.design/oi-chevron-bottom.svg?color=%2327273A&height=8');
    vertical-align: -0.125em;
}

/*th.sortable.sorted-descending:hover::after {
    content: url('https://api.iconify.design/oi-chevron-bottom.svg?color=%23007bff&height=8');
    vertical-align: -0.125em;
}*/

th.sortable.sorted-none::after {
    content: url('https://api.iconify.design/oi-chevron-bottom.svg?color=%230000&height=8');
    vertical-align: -0.125em;
}

/*.table-striped-light tbody tr:nth-of-type(2n+1) {
    background-color: var(--sq-bg-white-lit);
}*/
/*.table-striped-light tbody {
    background-color: var(--sq-bg-white-lit);
}*/
.table-striped-light.vs tbody tr:nth-of-type(2n+1) {
    background-color: var(--sq-ps2-vs-primary-light-alpha-40);
}

.table-striped-light.nc tbody tr:nth-of-type(2n+1) {
    background-color: var(--sq-ps2-nc-primary-light-alpha-40);
}

.table-striped-light.tr tbody tr:nth-of-type(2n+1) {
    background-color: var(--sq-ps2-tr-primary-light-alpha-40);
}

.table-striped-light.ns tbody tr:nth-of-type(2n+1) {
    background-color: var(--sq-ps2-ns-primary-light-alpha-40);
}


.table-striped-light th {
    padding: 0 10px 0 5px;
}

.table-striped-light td {
    padding: 0.2rem 10px 0.2rem 5px;
}


.sq-header {
    font-size: 2rem;
}

    .sq-header .placeholder {
        background-color: var(--bs-pink-alpha);
        border-radius: 0.2rem;
        height: 100%;
        display: inline-block;
        color: transparent;
        vertical-align: bottom;
    }

        .sq-header .placeholder:nth-child(1) {
            width: 120px;
        }    

        .sq-header .placeholder:nth-child(2) {
            width: 60px;
            margin-left: 0.2rem;
        }

        .sq-header .placeholder:nth-child(3) {
            width: 100px;
            margin-left: 0.2rem;
        }


.sub-header {
    font-size: 0.8rem;
    font-weight: 400;
    padding-left: 0.1rem;
}

    .sub-header.muted {
        color: var(--bs-gray);
        font-weight: 400;
    }

    .sub-header .temp {
        font-size: 0.75rem;
        font-weight: 400;
        vertical-align: bottom;
    }

    .sub-header .oi-warning {
        font-size: 0.8rem;
        color: var(--warning);
        vertical-align: middle;
    }

    /*.sub-header.placeholder-container {
        font-size: 0.8rem;
    }*/

        .sub-header .placeholder {
            background-color: var(--bs-gray-alpha);
            width: 95px;
            border-radius: 0.2rem;
            height: 0.8rem;
            display: inline-block;
            color: transparent;
            vertical-align: bottom;
        }

        .sub-header .placeholder:nth-child(2) {
            width: 75px;
            margin-left: 0.25rem;
        }



        button.refresh {
            margin-left: auto;
            height: 34px;
            margin-top: 0.15rem;
        }

    button.refresh.placeholder {
        /*margin-left: auto;*/
        /*height: 34px;*/
        /*margin-top: 0.15rem;*/
        color: transparent;
        background-color: #007bff10;
        border-color: #007bff0a;
        width: 77px;
    }


/*
    PS2 Class Icons
*/
/*.vs .ps2-icon,*/ .vs.ps2-icon {
    filter: brightness(0) saturate(0%) invert(27%) sepia(83%) saturate(6912%) hue-rotate(257deg) brightness(88%) contrast(94%);
}

/*.nc .ps2-icon,*/ .nc.ps2-icon {
    filter: brightness(0) saturate(0%) invert(26%) sepia(100%) saturate(2651%) hue-rotate(217deg) brightness(100%) contrast(98%);
}

/*.tr .ps2-icon,*/ .tr.ps2-icon {
    filter: brightness(0) saturate(0%) invert(52%) sepia(68%) saturate(3907%) hue-rotate(316deg) brightness(91%) contrast(93%);
}

/*.ns .ps2-icon,*/ .ns.ps2-icon {
    filter: brightness(0) saturate(0%) invert(12%) sepia(17%) saturate(1304%) hue-rotate(201deg) brightness(91%) contrast(88%);
}

.ps2-icon {
    /*display: inline-block;*/
    background-image: url('../images/even_borders/Icon_white_unknown_no_border_32.png');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 1rem;
    width: 1rem;
    margin-top: 0.15rem;
    /*filter: drop-shadow(0px 0px 2px var(--faction-dark-trans-color, rgba(20, 20, 20, 0.8)));*/
}



    .ps2-icon.medic {
        background-image: url('../images/Icon_white_combatMedic_32.png') !important;
    }

    .ps2-icon.la {
        background-image: url('../images/Icon_white_lightAssault_32.png') !important;
    }

    .ps2-icon.infil {
        background-image: url('../images/Icon_white_infiltrator_32.png') !important;
    }

    .ps2-icon.heavy {
        background-image: url('../images/Icon_white_heavyAssault_32.png') !important;
    }

    .ps2-icon.engie {
        background-image: url('../images/Icon_white_engineer_32.png') !important;
    }

    .ps2-icon.max {
        background-image: url('../images/Icon_white_max_32.png') !important;
    }

    .ps2-icon.unknown {
        background-image: url('../images/Icon_white_unknown_32.png') !important;
    }



/* Ellipsis Spinner
     - credit to https://loading.io/css/ for starting point
*/
.spinner-ellipsis {
    position: relative;
    width: 64px;
    height: 2rem;
    margin: 0.5rem auto 2rem auto;
}

    .spinner-ellipsis .dot {
        position: absolute;
        top: 27px;
        width: 11px;
        height: 11px;
        border-radius: 0.2rem;
        background: var(--bs-pink-alpha);
        animation-timing-function: cubic-bezier(0, 1, 1, 0);
        opacity: 0.85;
    }

        .spinner-ellipsis .dot:nth-child(1) {
            left: 6px;
            animation: spinner-ellipsis-grow 0.6s infinite;
            background: var(--sq-ps2-vs-primary);
        }

        .spinner-ellipsis .dot:nth-child(2) {
            left: 6px;
            animation: spinner-ellipsis-move-vs-nc 0.6s infinite;
            background: var(--sq-ps2-nc-primary);
        }

        .spinner-ellipsis .dot:nth-child(3) {
            left: 26px;
            animation: spinner-ellipsis-move-nc-tr 0.6s infinite;
            background: var(--sq-ps2-nc-primary);
        }

        .spinner-ellipsis .dot:nth-child(4) {
            left: 45px;
            animation: spinner-ellipsis-shrink 0.6s infinite;
            background: var(--sq-ps2-tr-primary);
        }

@keyframes spinner-ellipsis-grow {
    0% {
        transform: scale(0);
        border-radius: 50%;
        background: var(--sq-ps2-ns-primary);
    }

    100% {
        transform: scale(1);
        border-radius: 0.2rem;
        background: var(--sq-ps2-vs-primary);
    }
}

@keyframes spinner-ellipsis-shrink {
    0% {
        transform: scale(1);
        border-radius: 0.2rem;
    }

    100% {
        transform: scale(0);
        border-radius: 50%;
    }
}

@keyframes spinner-ellipsis-move-vs-nc {
    0% {
        transform: translate(0, 0);
        background: var(--sq-ps2-vs-primary);
    }

    100% {
        transform: translate(19px, 0);
        background: var(--sq-ps2-nc-primary);
    }
}

@keyframes spinner-ellipsis-move-nc-tr {
    0% {
        transform: translate(0, 0);
        background: var(--sq-ps2-nc-primary);
    }

    100% {
        transform: translate(19px, 0);
        background: var(--sq-ps2-tr-primary);
    }
}

