@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

:root {
    --sq-light-blue-gray: #d4d4ff;
    --sq-light-blue-gray-alpha: #d4d4ff5a;
    --sq-bg-white-lit: #fcf6ff;
    --sq-bg-white-unlit: #f6f0ff;
    --sq-black: #27273A;
    --sq-ps2-vs-primary: #652fdc;
    --sq-ps2-nc-primary: #1e62fc;
    --sq-ps2-tr-primary: #e04c70;
    --sq-ps2-ns-primary: #27273A;
    --sq-pale-purple: #b7a8d7;
    --bs-blue: #007bff;
    --bs-blue-alpha: #007bff10;
    --bs-gray: #6c757d;
    --bs-gray-alpha: #6c757d15;
}

html, body {
    font-family: 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background-color: #f6f0ff;
    color: #27273A;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
    /*flex-direction: row;*/
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #e6e6e6;
        border-bottom: 1px solid #d6d5d5;
    }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
        vertical-align: bottom;
        height: 2.25rem;
        margin-bottom: 0.3125rem;
        margin: 0.3125rem !important;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

.nav-item {
    font-size: 0.9rem;
    /*padding-bottom: 0.5rem;*/
}

    /*.nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }*/

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.navbar-nav .nav-link {
    height: 2.25rem;
}

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }

    .nav-item {
        padding-bottom: 0.5rem;
    }

    .navbar-nav .nav-link {
        padding-left: 1rem;
    }

    .nav-item:first-of-type {
        padding-top: 1rem;
    }

    .nav-item:last-of-type {
        padding-bottom: 1rem;
    }

}

@media (min-width: 768px) {
    /*app {
        flex-direction: row;
    }*/

    /*.sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }*/

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}

.navbar-toggler {
    margin: 0.3125rem;
}

dt {
    font-weight: 500;
    font-size: 0.8rem;
}

@media (min-width: 992px) {
    
    .col-lg-6 {
        flex-basis: calc(50% - 5px);
    }

}

.styled-select {
    width: 120px;
    /*overflow: hidden;*/
    border: 1px solid #007bff; /*#6c757d50;*/ /*#d4d4ffa0;*/
    height: 34px;
    background: url('https://api.iconify.design/oi:caret-bottom.svg?color=%23007bff') no-repeat right 0.5rem center / 10%;
    /*background-color: #f6f0ff;*/
    color: #007bff; /*#6c757d;*/ /* #27273A; */
    border-radius: 0.2rem;
    margin-left: auto;
    margin-top: 0.15rem;
    font-family: 'Roboto Mono';
}

.styled-select:hover, .styled-select:active {
    border-color: #007bff; /*#27273A50;*/
    color: #FFF; /*#27273A;*/
    background: url('https://api.iconify.design/oi:caret-bottom.svg?color=%23FFF') no-repeat right 0.5rem center / 10%;
    background-color: #007bff; /*#fcf6ff;*/
}

.styled-select select {
    outline: 0;
    background: transparent;
    line-height: 1;
    border: 0;
    border-radius: 0.2rem;
    -webkit-appearance: none;
    height: 33px;
    width: 119px;
    display: block;
    padding: 0px;
    outline: 0;
    color: #007bff; /*#6c757d;*/
    font-family: 'Roboto Mono';
}

.styled-select select:hover, .styled-select select:active {
    color: #FFF; /*#27273A;*/
    outline: 0;
}

.styled-select select:focus{
    outline: 0 !important;
    box-shadow: 0 0 0 .2rem #007bff80;
}

/*
    Leaderboard Styles
*/

.leaderboard-table {
    width: 100%;
    margin-top: -1rem;
}

    .leaderboard-table thead {
        line-height: 1.1rem;
    }

    .leaderboard-table th {
        padding-left: 5px;
        max-width: 65px;
        /*width: 1rem;*/
        vertical-align: bottom;
        font-size: 0.8rem;
    }
        
        .leaderboard-table th.med {
            /*width: 80px;*/
            min-width: 60px;
        }

        .leaderboard-table th.p-name {
            /*vertical-align: bottom;*/
        }

        .leaderboard-table th.icon {
            padding: 0.1rem 0.5rem;
            max-width: 30px;
            /*border: inherit;*/
        }

        .leaderboard-table th.alias {
            /*padding-right: 5px;*/
            width: 40px;
        }

        .leaderboard-table th.gap-left {
            padding-left: 10px;
            margin-left: 0.3125rem;
            max-width: 70px;
            width: 1.1rem;
            /*word-wrap: normal;*/
            vertical-align: bottom;
        }

        .leaderboard-table th.stacked-label span:nth-child(1) {
            display: block;
            position: relative;
            top: 0.5rem;
        }

        .leaderboard-table th.stacked-label span.small {
            font-size: 0.6rem;
        }

        .leaderboard-table th.stacked-label span:nth-child(2) {
        }

    .leaderboard-table tbody {
        font-size: small !important;
    }

    .leaderboard-table td {
        padding: 0.2rem 10px 0.2rem 5px;
    }

        .leaderboard-table td.med {
            padding-left: 10px;
        }

        .leaderboard-table td.alias {
            padding-right: 5px;
            padding-left: 0;
        }

        /*.leaderboard-table td button.inline-player-br {
            font-size: 0.8rem;
            padding: 0rem !important;
        }*/

        .leaderboard-table td.emoji-container {
            padding: 0.1rem 0.5rem 0.1rem 0.3125rem;
            max-width: 30px;
            width: 1rem;
            /*border: inherit;*/
        }

            .leaderboard-table td.emoji-container .emoji {
                padding-top: 0.1rem;
                padding-bottom: 0.1rem;
                padding-right: 10px;
                opacity: 0.65;
            }

        .leaderboard-table td.icon-container {
            padding: 0.1rem 0.5rem;
            max-width: 30px;
            width: 1rem;
            /*border: inherit;*/
        }

        .leaderboard-table .oi-moon {
            color: var(--sq-pale-purple) !important;
        }


    td .inline-player-br {
        font-size: small;
        line-height: 1.1;
        padding: 0 0 0.1rem 0;
    }

.inline-player-br > div {
    display: inline-block;
}

    .inline-player-br .player-name{
        /*display: inline-block;*/
        max-width: 250px;
        overflow: hidden;
        text-overflow: ellipsis;
        vertical-align: bottom;
        
    }

td .inline-player-br .oi {
    top: -1px;
    margin-left: -0.1rem;
}



