@inherits LayoutComponentBase

<div class="sidebar navbar-dark navbar-expand-sm navbar-toggleable-sm">
    <NavMenu />
</div>

<div class="main" style="background-color: #f6f0ff;">
    <div class="content px-4">
        @Body
    </div>
</div>
