@page "/playerstats"

<h1>Player Details</h1>

@if (string.IsNullOrWhiteSpace(PlayerId))
{
    <p>select a player</p>
}
else
{
    <p>Player ID: @PlayerId</p>
}

@*<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>*@

@code {
    //int currentCount = 0;

    [Parameter]
    public string PlayerId { get; set; } = "";

    //void IncrementCount()
    //{
    //    currentCount += IncrementAmount;
    //}
}
