@page "/serverselect"
@page "/serverselect/{selectedWorldId}"
@using squittal.LivePlanetmans.Shared.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (worlds == null)
{
    <em>Loading server list...</em>
}
else
{
    <select class="btn" style="border-color: var(--gray) !important;" id="worldSelect" @onchange="OnWorldIdChange">
        <option value="" class="text-muted" style="font-style:italic">Server</option>
        @foreach (var world in worlds)
        {
            @if (world.Id != 25) //RIP Briggs
            {
                <option value="@world.Id.ToString()">@world.Name</option>
            }
        }
    </select>
}

@code {
    World[] worlds;

    [Parameter]
    public int? selectedWorldId { get; set; }

    string selectedWorldName = "";
    World selectedWorld = new World();

    protected override async Task OnInitializedAsync()
    {
        worlds = await Http.GetJsonAsync<World[]>("api/Worlds");

        if (selectedWorldId != null && worlds.Any())
        {
            selectedWorld = worlds.Where(w => w.Id == selectedWorldId).FirstOrDefault();
        }
    }

    void OnWorldIdChange(ChangeEventArgs eventArgs)
    {
        var worldId = eventArgs.Value;
        if (!string.IsNullOrWhiteSpace(worldId.ToString()))
        {
            NavigationManager.NavigateTo($"activity/{eventArgs.Value.ToString()}");
        }
    }

}