@page "/serverselect"
@using squittal.LivePlanetmans.Shared.Models
@using Microsoft.AspNetCore.WebUtilities @*for QueryHelpers*@
@inject HttpClient Http
@inject NavigationManager NavigationManager

@if (worlds == null)
{
    <em>Loading server list...</em>
}
else
{
    <select class="btn-sm" style="margin-right: 5px" id="worldSelect" @onchange="OnWorldIdChange">
        <option value="" class="text-muted" style="font-style:italic">Server</option>
        @foreach (var world in worlds)
        {
            @if (world.Id != 25) //RIP Briggs
            {
                <option value="@world.Id.ToString()">@world.Name</option>
            }
        }
    </select>
}

@code {
    World[] worlds;

    [Parameter]
    public int worldId { get; set; } = 17;

    [Parameter]
    public string playerId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        worlds = await Http.GetJsonAsync<World[]>("api/Worlds");


        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("worldId", out var qWorldId))
        {
            worldId = Int32.Parse(qWorldId.First());
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("playerId", out var qPlayerId))
        {
            playerId = qPlayerId.First();
        }
    }

    protected override void OnParametersSet()
    {
        var uri = NavigationManager.ToAbsoluteUri(NavigationManager.Uri);

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("worldId", out var qWorldId))
        {
            worldId = Int32.Parse(qWorldId.First());
        }

        if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("playerId", out var qPlayerId))
        {
            playerId = qPlayerId.First();
        }
    }

    void OnWorldIdChange(ChangeEventArgs eventArgs)
    {
        var worldId = Int32.Parse(eventArgs.Value.ToString());

        if (!string.IsNullOrWhiteSpace(playerId))
        {
            NavigationManager.NavigateTo($"/activity?worldId={worldId}&playerId={playerId}");
        }
        else
        {
            NavigationManager.NavigateTo($"/activity?worldId={worldId}");
        }
    }
}

}